flyer.Rmd
flyer.pdf
.Rproj.user
.Rhistory
spatial-workshop-switzerland-24.pdf
code/4-solutions-spatial-european-goldfinch.R
code/sim-spatial-multi-species-data.R
code/hbef-spatial-multi-species-occ.R
code/bat-data-prep.R
code/bbs-glmm-data-prep.R
code/bbs-glmm-cov-data-prep.R
code/bbs-glmm-pred-data-prep.R
code/9a-solutions-spatial-glmm-birds.R
code/10a-solutions-crimson-mantled-woodpecker-nmix.R
code/chain-1.out
code/chain-2.out
code/chain-3.out
code/format-montano-centellas-data.R
code/get-harvard-forest-data.R
code/get-issj-data.R
code/get-swiss-mhb-abundance-data.R
code/sim-spatial-nmix-data.R
code/spatial-decay-figure.R
code/detection-function-figure.R
data/wright2021.RData
data/tmp-bbs-data-formatted.rda
data/montano-centellas-data/
results/hbef-sfMsNmix-three-chains.rda
figures/
*.swp
